# 包管理器设置
strict-peer-dependencies=false
auto-install-peers=true

# node 版本
use-node-version=20.10.0
node-version=20.10.0

# 镜像源设置
registry=https://registry.npmmirror.com/
disturl=https://npmmirror.com/dist
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/

# 性能相关
network-timeout=60000
fetch-retries=3
fetch-retry-mintimeout=5
fetch-retry-maxtimeout=60

# 缓存设置
cache-min=3600
cache-max=86400

# 安全设置
audit=true
fund=false
